@import "../../styles/vars.scss";

.wrapper {
    display: flex;
    @include content-center;
    .cols {
        @include container-full;
        @include content-center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        .entry {
            flex: 1;
            margin: 0 1rem;
        }
    }
}
