@import "../../styles/vars.scss";
$static: mix(gray(2), gray(1));

.wrapper {
    width: 100%;
    @include content-center;
    .table {
        padding: 0;
        border-radius: 0;
        @include content-center;
        align-items: center;
        border: 1px solid gray(3);
        background: gray(1);
        @include container-medium;
        @media screen and (max-width: 1000px) {
            @include container-huge;
        }
        @media screen and (max-width: 600px) {
            @include container-full;
            margin: 0 1rem;
        }
        overflow: hidden;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        .entry {
            flex: 1;
            min-width: 15rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: 0.3s;
            outline: 1px solid gray(3);
            padding: 0.5rem 1rem;
            &:hover {
                background: #fff;
            }
            @media screen and (max-width: 600px) {
                padding: 0.75rem 1rem;
            }
        }
        .add {
            @include content-center;
            cursor: pointer;
            color: transparent;
            user-select: none;
        }
        .link {
            color: mix(cyan(), blue(), 60%);
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .table.top {
        border-radius: 0.5rem 0.5rem 0 0;
    }
    .table.bottom {
        border-radius: 0 0 0.5rem 0.5rem;
    }
    .table.top.bottom {
        border-radius: 0.5rem;
    }
    .table.static {
        .entry {
            background: $static;
            &:hover {
                background: $static;
            }
        }
    }
    .table.nolines {
        .entry {
            outline: none;
        }
    }
}
